header, footer, nav, div, p, body 
{
   font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
   font-size: 1em;
}
header 
{
   background-color: rgb(63, 159, 217);
   height: 3em;   
}
header .brand 
{
   
   line-height: 1;
   color: #f5f5f5;
   text-decoration: none; 
   margin-right:3em;
   position:absolute;
   top:10px;font-family: Vendana, Arial, sans-serif;
   padding: 4em 10em 1em -15em;
   margin-left: 3em;
   font-size: 1.5em;
   font-weight: bold;
}
header nav 
{
   margin: 0.70em 1em 0em -5em;   
	float: right;
	padding-right:49em;
    padding-top: -15px;
}
header ul 
{
	list-style: none;
   margin:0;
   padding:0;
}
header li 
{
	float:right;
   padding: 0 1em;
}
header li a:link 
{
   color: #f5f5f5;
   text-decoration: none;   
}
table
{
	display:block;
}
div#container 
{
 
}
#main 
{
   margin: 0 20em 0 16em;
}
aside
{
 position: absolute;
 width:19em;
 float: right;
 right:0px;
 top:48px;
}
#rail div.well
{
	 float: left;
	margin-left:0px;
	position:absolute;
	width:12.9em;
	top:350px
}
.well, .alert 
{
   margin-bottom: 2em;
   padding: 1em;
}
.well 
{   
   background-color: #f5f5f5;
   border: 1px solid #eee;
   border: 1px solid rgba(0, 0, 0, 0.05);
}
.well h3 
{
   background-color: #b6d1f2;
   padding: 1em;	
}
.alert 
{
   background-color: #edebe1;
   border-color: #e0d9cb;
   color: #817b58;
}
 #rail .alert
{
	   float:left;
	   position: absolute;
	   top:18px;
	   left:-25px;
	   margin: 30px;
	   width: 200px;	 
}
.breadcrumb 
{
   padding: 0.5em 1em;
   list-style: none;
   background-color: #fbfbfb;
}
#main 
{
   padding: 0.5em 0.75em;
}
#main h2 
{
   padding-top: 1em;
   font-size: 1.5em;
}
#main h4 
{
   padding-top: 1.5em;
   font-size: 1.2em;
}
#main th 
{
   text-align: left;
}
#main table 
{
	margin-right:5em;
}
#main #yourCompany 
{
   margin-bottom: 1.5em;
   font-size: 0.8em;
   float: left;   
}
#main #client 
{

   font-size: 0.8em;
   float: right;
}
#main hr 
{
   clear: both;
}
.bigButton 
{
   margin-top: 1em;
   background-color: rgb(63, 159, 217);
   text-align: center;
   color: #f5f5f5;
   text-decoration: none;
   width: 150px;
	display:block;
	overflow:auto;
}
#rail nav 
{
  	float: left;
	margin-left:0px;
	position:absolute;
	width:12.9em;
	top:150px;
 } 
#rail nav  ul 
{
   list-style-type:none;
   font-size: 1.1em;
}
#rail nav  ul li {
   margin-bottom: 0.3em;
}
ul#changeList, ul#sellersList, ul#messageList 
{
   background-color: white;
   list-style-type:none; 
   
}
ul#changeList li 
{   
   overflow: auto;  
   padding-top: 1em;   
}
ul#changeList li  p
{ 
   padding-top: 0.5em;
}
ul#changeList li span 
{
   min-width: 1.75em;
   text-align: right;
   font-size: 2em;
   padding: 0 1em 0 0;
   color: #616466;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

ul#sellersList li, ul#messageList li 
{   
   overflow: auto;  
   padding: 1em 0.25em 0 0;   
   font-size: 0.75em;
}
ul#sellersList img
{
   
}
ul#sellersList p 
{
   padding-top: 1.5em;
}
ul#messageList  img 
{
   padding-right: 0.5em;
}
#messageList li  p 
{
   font-size: 0.9em;
   padding: 0.3em 0.25em;
}